.mainDiv
{
	background-color: #444;
	position:         absolute;
	top:              78px; /*32MenuBar+46ToolBar=74*/
	bottom:           28px; /*28StatusBar*/
	right:            26px; /*26sideBar*/
	left:             0;
	overflow:         hidden;
}

body
{
	padding:  0;
	margin:   0;
	width:    100%;
	height:   100%;
	overflow: hidden;
}
