.geometriesList
{
	table-layout:     fixed;
	background-color: gray;
	position:         absolute;
	top:              78px; /*32MenuBar+46ToolBar=74*/
	bottom:           28px; /*28StatusBar*/
	right:            26px; /*26sideBar*/
	border:           1px solid black;
	z-index:          10;
	width:            242px;
	/** Total width: 230+(1border)*2=242*/
}

.geometriesList .list
{
	overflow-y: scroll;
	top:        20px;
	bottom:     0px;
	position:   absolute;
	right:      0px;
}

.geometriesList .line
{
	padding: 3px;
	/** Total width: 3(padding)+16(selIcon)+160(text)+16(visibleIcon)+16(lockIcon)+16(solidIcon)+3(padding)=230*/
}

.geometriesList .line img
{
	vertical-align: -2px;
}

.geometriesList .line input
{
	background-color: silver;
	border:           1px solid black;
	border-radius:    3px;
}

.geometriesList .title
{
	background-color: #4040C0;
	text-align:       center;
	height:           20px;
}

.geometriesList .text
{
	width:         160px;
	text-overflow: ellipsis;
	overflow:      hidden;
	white-space:   nowrap;
	display:       inline-block;
}