.imagePlane
{
	margin: 3px;
}

.imagePlane .fileName
{
	background-color: silver;
	border:           1px solid black;
	border-radius:    3px;
	width:            150px;
	height:           15px;
	text-overflow:    ellipsis;
	overflow:         hidden;
	white-space:      nowrap;
	display:          inline-block;
	padding-left:     4px;
	padding-right:    4px;
	padding-bottom:   4px;
	margin-bottom:    -5px;
}

.imagePlane input
{
	background-color: silver;
	border:           1px solid black;
	border-radius:    3px;
	width:            50px;
	text-overflow:    ellipsis;
	overflow:         hidden;
	white-space:      nowrap;
	padding-left:     4px;
	margin-top:       0;
}

.imagePlane img
{
	vertical-align: middle;
}