.cmenu
{
	display:          none;
	position:         fixed;
	margin:           0;
	padding: 5px;
	background-color: grey;
	z-index:          20;
	border:           1px solid black;
	border-radius:    5px;
}

.cmenu[parent=item]
{
	border-top-left-radius: 0;
}

.cmenu hr
{
	border:        0;
	border-bottom: 1px solid white;
	width:         95%;
}

.menubar
{
	margin:           0;
	border:           1px solid black;
	display:          block;
	top:              0;
	left:             0;
	right:            0;
	padding:          3px;
	background-color: grey;
	overflow:         hidden;
	height:           24px;
	/** total width: all document
	  * total height: 24+(3padding+1border)*2 = 32
	  */
}

.menuitem
{
	color:                 white;
	text-decoration:       none;
	-webkit-touch-callout: none;
	-webkit-user-select:   none;
	-khtml-user-select:    none;
	-moz-user-select:      -moz-none;
	-ms-user-select:       none;
	user-select:           none;
	cursor:                default;
	padding:               1px 10px;
}

.menuitem:hover
{
	color:            white;
	text-decoration:  none;
	background-color: blue;
	border-radius:    5px;
}

.menuitem img
{
	float:          right;
	vertical-align: middle;
	margin-right:   -10px;
	margin-top:     3px;
}

.menuitem[state=openBar]
{
	border:                     1px solid black;
	border-radius:              5px;
	border-bottom-left-radius:  0;
	border-bottom-right-radius: 0;
	padding:                    0 9px;
}

.menuitem[state=openContext]
{
	border:                     1px solid black;
	border-radius:              5px;
	border-top-right-radius:    0;
	border-bottom-right-radius: 0;
	padding:                    0 9px;
}

.menuitem[state=disable]
{
	color:           lightgrey;
	text-decoration: none;
}

.menuitem[state=disable]:hover
{
	color:            lightgrey;
	background-color: grey;
}

.menubar .menuitem
{
	float:  left;
	margin: 2px;
}

.menuitem .shortcut
{
	float: right;
	margin-left: 40px;
}