.simpleForm .shortcutsLine
{
	padding:      3px;
	margin-right: 80px;
	width:        384px;
}

.simpleForm .shortcutsLine .message
{
	text-align: center;
}

.simpleForm .shortcutsLine .list
{
	background-color: white;
	border:           1px solid black;
	border-radius:    5px;
	overflow: hidden;
}

.simpleForm .shortcutsLine .head
{
	display:inline-block;
	background-color: #88C;
	width:100%;
	text-align: center;
}

.simpleForm .shortcutsLine .head1
{
	width: 270px;
	display:inline-block;
	margin-left: -20px;
}

.simpleForm .shortcutsLine .head2
{
	width: 90px;
	display:inline-block;
}

.simpleForm .shortcutsLine .elements
{
	height:100px;
	overflow-y:scroll;
}

.simpleForm .shortcutsLine .elements>div
{
	display:inline-block;
	width: 270px;
}

.simpleForm .shortcutsLine .elements input
{
	width: 90px;
	margin-left:-4px;
	margin-right:-4px;
}

