.sideBarRight
{
	margin:           0;
	border:           1px solid black;
	display:          block;
	position:         absolute;
	top:              78px; /*32MenuBar+46ToolBar=74*/
	bottom:           28px; /*28StatusBar*/
	right:            0;
	width:            24px;
	background-color: #808080;
	overflow:         hidden;
	text-align:       center;
	padding:          0;
	/** Total width:20+(2padding+1border)*2=26 */
}

.sideBarLeft
{
	margin:           0;
	border:           1px solid black;
	display:          block;
	position:         absolute;
	left:             0;
	top:              0;
	bottom:           0;
	background-color: #808080;
	overflow:         auto;
	text-align:       center;
	width:            1.1em;
	padding:          2px;
}

.sideBarRight .text
{
	padding:                  1px;
	margin:                   1px;
	white-space:              nowrap;
	display:                  inline-block;
	-webkit-transform:        rotate(90deg) translate(0%, -100%);
	-khtml-transform:         rotate(90deg) translate(0%, -100%);
	-moz-transform:           rotate(90deg) translate(0%, -100%);
	-ms-transform:            rotate(90deg) translate(0%, -100%);
	transform:                rotate(90deg) translate(0%, -100%);
	-webkit-transform-origin: 0% 0%;
	-khtml-transform-origin:  0% 0%;
	-moz-transform-origin:    0% 0%;
	-ms-transform-origin:     0% 0%;
	transform-origin:         0% 0%;
	-webkit-touch-callout:    none;
	-webkit-user-select:      none;
	-khtml-user-select:       none;
	-moz-user-select:         -moz-none;
	-ms-user-select:          none;
	user-select:              none;
	cursor:                   default;
}

.sideBarLeft .text
{
	padding:                  1px;
	margin:                   1px;
	white-space:              nowrap;
	display:                  inline-block;
	-webkit-transform:        rotate(-90deg) translate(-100%, 0%);
	-khtml-transform:         rotate(-90deg) translate(-100%, 0%);
	-moz-transform:           rotate(-90deg) translate(-100%, 0%);
	-ms-transform:            rotate(-90deg) translate(-100%, 0%);
	transform:                rotate(-90deg) translate(-100%, 0%);
	-webkit-transform-origin: 0% 0%;
	-khtml-transform-origin:  0% 0%;
	-moz-transform-origin:    0% 0%;
	-ms-transform-origin:     0% 0%;
	transform-origin:         0% 0%;
	-webkit-touch-callout:    none;
	-webkit-user-select:      none;
	-khtml-user-select:       none;
	-moz-user-select:         -moz-none;
	-ms-user-select:          none;
	user-select:              none;
	cursor:                   default;
}

.sideBarRight .text:hover
{
	background-color: blue;
}

.sideBarLeft .text:hover
{
	background-color: blue;
}

.sideBarLeft .text[check=true]
{
	border:  1px solid black;
	padding: 0;
}

.sideBarRight .text[check=true]
{
	border:  1px solid black;
	padding: 0;
}
