.simpleForm
{
	background-color: gray;
	position:         absolute;
	border:           1px solid black;
	z-index:          30;
	left:             50%;
	top:              50%;
	margin-left:      -172px;
	margin-top:       -59px;
	display:          none;
	border-radius:    5px;
}

.simpleForm .title
{
	text-align:       center;
	background-color: #4040C0;
	cursor:           default;
}

.simpleForm .line
{
	padding:      3px;
	margin-right: 80px;
	width:        256px;
}

.simpleForm .label
{
	display: inline-block;
	width:   160px;
}

.simpleForm .number
{
	padding: 3px;
	width:   90px;
	border:  2px;
	display: inline-block;
}

.simpleForm .twoColumn
{
	width:   125px;
	display: inline-block;
}

.simpleForm .buttons
{
	float:      right;
	width:      80px;
	text-align: center;
}

.simpleForm .error
{
	color:            red;
	background-color: black;
	display:          block;
	text-align:       center;
	width:            auto;
}

.simpleForm input
{
	background-color: silver;
	border:           1px solid black;
	border-radius:    5px;
	padding-left:     4px;
	margin-top:       0;
}

.simpleForm input:hover
{
	background-color: white;
}

.simpleForm input:active
{
	background-color: black;
	color:            silver;
}

.occluder
{
	background-color: rgba(0,0,0,0.5);
	/*
	-webkit-filter: blur(2px);
	-ktml-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px); */
	position:absolute;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	z-index:          31;
}