.statusBar
{
	margin:           0;
	border:           1px solid black;
	display:          block;
	position:         absolute;
	bottom:           0;
	left:             0;
	right:            0;
	padding:          3px;
	background-color: #808080;
	overflow:         auto;
	height:           20px;
	height:           20px;
	/** total width: all document
	  * total height: 20+(3padding+1border)*2 = 28
	  */
}
