.toolbar
{
	margin:           0;
	border:           1px solid black;
	display:          block;
	/*position: fixed ;*/
	top:              0;
	left:             0;
	right:            0;
	padding:          3px;
	background-color: #808080;
	overflow:         auto;
	height:           38px;
	/** total height: 38+(3padding+1border)*2 = 46 */
}

.toolbar #left
{
	float: left;
}

.toolbar #right
{
	float: right;
}

.toolbar #center
{
	margin:     0 auto;
	text-align: center;
}

.toolbar img
{
	margin:         2px;
	vertical-align: middle;
	padding:        1px;
	height:         32px;
	/** total height: 32+(1padding+2margin)*2 = 38 */
}

.toolbar #center img
{
	margin: 2px auto;
}

.toolbar img[check=true]
{
	border:  1px solid black;
	padding: 0;
}

.toolbar img:hover
{
	background-color: blue;
}

.toolbar img:hover[enable=false]
{
	background-color: transparent;
}
